<h1>Tạo danh mục mới</h1>
<form [formGroup]="bookForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Tiêu đề:</td>
      <td><input type="text" formControlName="title"></td>
    </tr>
    <tr>
      <td>Tác giả:</td>
      <td><input type="text" formControlName="author"></td>
    </tr>
    <tr>
      <td>Ghi chú:</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button>Tạo mới</button>
      </td>
    </tr>
  </table>
</form>
